<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>Fazer login {{ usuario.email }}</h1>
    </div>

    <div class="col-8 m-auto pt-4 pb-2 text-center">
        <div id="result"></div>

        <form name="form" id="form" action="login" method="post">
            {% csrf_token %}
            <!--{{form.as_p}}-->
            <div class="form-group mt-4">Email: {{form.email}}</div>
            <div class="form-group mt-4">Senha: {{form.senha}}</div>
            <input type="submit" class="btn btn-success" value="Login">
        </form>
    </div>
</body>
</html>