<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>CRUD Diego Blandino</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>CRUD Diego Blandino</h1>
    </div>

    <div class="col-8 m-auto pt-3 pb-2 text-center">
        <a href="/form" class="btn btn-success">Cadastrar Veículo</a>
    </div>

     <div class="col-8 m-auto pt-3 pb-2 text-center">
        <a href="/formuser" class="btn btn-success">Cadastrar Usuário</a>
    </div>

    <div class="col-8 m-auto pt-3 pb-2 text-center">
        <a href="/" class="btn btn-success">Ver Carros</a>
    </div>

    <div class="col-8 m-auto pt-3 pb-2 text-center">
        <form method="get">
            <input type="text" id="search" name="search" class="form-control" placeholder="Buscar...">
        </form>
    </div>

    <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Email</th>
      <th scope="col">Senha</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
  {% if error %} <span>{{ error }}</span> {% else %}
      {% for dbs in db %}
       <tr>
          <th>{{dbs.id}}</th>
          <td>{{dbs.email}}</td>
          <td>{{dbs.senha}}</td>
          <td>
            <a href="/deleteuser/{{dbs.id}}/" class="btn btn-danger btnDel">Deletar</a>
        </td>
        </tr>
      {% endfor %}
  {% endif %}

  </tbody>
</table>
    {% load static %}
    <script src="{% static 'javascript.js' %}"></script>

</body>
</html>